@font-face {
	font-family: "Quicksand";
	src: url("/assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
}

header {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header img {
	width: 100px;
	margin-top: 20%;
	margin-bottom: 10%;
}
header h1 {
	font-family: Quicksand;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
body{
	font-family: "Quicksand";
}
.login-section{
	margin-top: 30%;
}
input{
	margin-top: 5%;
	background-color: #ececec;
	border: none;
	padding-top: 3%;
	padding-bottom: 3%;
}
button{
	margin-top: 5%;
	width: 100%;
	background-color: #ff9191;
	border: none;
	border-radius: 5px;
	padding-top: 5%;
	font-family: "Quicksand";
	padding-bottom: 5%;
}
footer {
	margin-top: 65%;
	text-align: center;
}