@font-face {
	font-family: "Quicksand";
	src: url("/assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
  }
  body {
	font-family: Quicksand;
  }
  .header-login {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 4%;
	margin: 20px;
  }
  .header-login img {
	width: 100px;
  }
  .header-login h1 {
	text-align: center;
	font-size: 200%;
  }
  .login-section {
	font-size: 18px;
	font-weight: 500;
	padding: 1rem 0 0 1rem;
  }
  .login-section form {
	display: flex;
	flex-direction: column;
  }
  .login-section input {
	color: black;
	font-size: 18px;
	font-family: Quicksand;
	font-weight: 700;
	border: none;
	width: 300px;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	border-radius: 0.37rem;
	padding: 0.75rem;
	background-color: lightgray;
  }
  .login-section button {
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 600;
	background-color: rgb(233, 134, 134);
	color: white;
	width: 325px;
	border: none;
	border-radius: 0.37rem;
	padding: 0.75rem;
	margin-top: 1rem;
  }
  footer p {
	margin: 4rem 0;
	text-align: center;
  }
  
  /* Menu Pesanan */
  .nav-menu {
	display: flex;
	width: 100%;
	align-items: center;
	margin-top: 1rem;
	flex-direction: row;
	justify-content: center;
  }
  .nav-menu img {
	width: 50px;
	margin: 10px;
  }
  .container hr {
	width: 100%;
	height: 5px;
	border: none;
	background-color: rgb(233, 134, 134);
	/* margin: 1rem 0 1rem 0; */
  }
  .section-page {
	padding: 1rem;
  }
  .menu-section {
	margin: 1rem 0;
  }
  .menu-section h3 {
	padding: 10px;
	background-color: rgb(190, 185, 185);
	border-radius: 100px;
	color: white;
	margin: 10px;
	text-align: center;
	width: 30%;
  }
  .menu-section hr {
	background-color: rgb(255, 196, 0);
	height: 3px;
	border: none;
	width: 100%;
  }
  .menu-paket {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
  }
  .menu-paket .img-menu {
	/* height: 150px; */
	/* width: 100px; */
	/* background-color: rgb(214, 135, 135); */
	width: 50%;
	margin: 20px;
	overflow: hidden;
	border-radius: 0.5rem;
  }
  .img-menu img {
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
  }
  .menu-paket .text-menu {
	font-size: 15px;
	margin: 6px;
	width: 50%;
  }
  .text-menu p {
	font-size: 15px;
	margin: 10px 0;
  }
  .menu-paket .btn-menu {
	align-items: center;
	display: flex;
	margin-top: 1rem;
	justify-content: space-between;
	flex-direction: row;
  }
  .btn-menu button {
	color: white;
	font-size: 15px;
	font-weight: bold;
	background-color: #96c8eb;
	border: none;
	border-radius: 10px;
	padding: 3px 1rem;
  }
  .section-page .btn-pesan {
	font-family: Quicksand;
	background: rgb(233, 134, 134);
	border: none;
	font-size: 17px;
	color: white;
	padding: 0.75rem;
	margin-top: 1rem;
	width: 100%;
	border-radius: 0.375rem;
	font-weight: 500;
  }
  


  /* order Page */
  .section-page .hasil {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 15px;
	text-align: center;
	/* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
	background: lightgray;
  }
  .order hr {
	width: 100%;
	height: 5px;
	border: none;
	background-color: #96C8EB;
	/* margin: 1rem 0 1rem 0; */
  }
  .hasil h1  {
	font-size: 19px;
	margin: 10px 0;
	text-align: center;
  }
  .hasil h1:first-child {
	color: #333;
  }
  .hasil h2:last-child {
	color: #FF9D21;
	font-weight: bold;
  }
  .hasil h2 {
	text-align: center;
	margin: 10px 0;
  }
  .input-cttn {
	margin-top: 1rem;
	padding: 10px;
	background: lightgray;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  .input-cttn .input {
	display: flex;
	align-items: center;
	padding: 6px;
	background: #fff;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  .input-cttn .input input {
	width: 100%;
	padding: 5px;
	outline: none;
	border: none;
  }
  .checkbox h3 {
	padding: 10px;
	width: 200px;
	background: rgb(190, 185, 185);
	border-radius: 100px;
	text-align: center;
	color: white;
  }
  .checkbox hr {
	height: 3px;
	border: none;
	background: rgb(255, 196, 0);
	width: 100%;
  }
  .checkbox label {
	display: flex;
	align-items: center;
	background: lightgray;
	border: 1px solid #ccc;
	padding: 0 5px 0 5px;
	border-radius: 5px;
	font-weight: 600;
	margin-top: 1rem;
  }
  .resto {
	color: #929292;
	font-size: 12px;
	font-family: Quicksand;
	word-wrap: break-word;
	float: right;
  }
  .jml {
	color: #FF9D21;
	font-size: 12px;
	font-family: Quicksand;
	word-wrap: break-word;
	float: right;
  }
  .span {
	font-size: 10px;
	margin-left: 25%;
	color: #929292;
  }
  .btn-Bayar {
	font-family: Quicksand;
	background: rgb(233, 134, 134);
	border: none;
	font-size: 17px;
	color: white;
	padding: 0.75rem;
	margin-top: 3rem;
	width: 100%;
	border-radius: 0.375rem;
	font-weight: 500;
  }

  /* Payment */
.pay hr {
	width: 100%;
	height: 5px;
	border: none;
	background-color: #33D9B2;
}
.total {
	justify-content: center;
	padding-top: 5%;
	text-align: center;
	font-size: 13px;
}
.total h2 {
	color: #FF9D21;
	font-size: 25px;
}
.succes {
	background: #fff4f4;
	border: none;
	border-radius: 10px;
	margin-left: 10%;
	width: 300px;
	height: 300px;
	justify-content: center;
}
.succes img {
	display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
    width: 60%;
    margin: auto;
}
.succes h2 {
	text-align: center;
	/* padding-top: 2px; */
	color: #33D9B2;
	justify-content: center;
}

/* cahsier */
.garisC {
	width: 23rem;
	height: 5px;
	border: none;
	justify-content: center;
	background-color: #FF9D21;
}
.bayar {
	background: rgba(172.83, 172.83, 172.83, 0.16);
	border: none;
	margin-top: 10px;
	border-radius: 10px;
	margin-left: 35px;
	width: 300px;
	height: 300px;
	justify-content: center;
}
.bayar img {
	display: flex;
    padding-top: 10%;
    width: 60%;
	margin: auto;
}
.bayar h2 {
	text-align: center;
	/* padding-top: 2px; */
	color: #929292;
	justify-content: center;
}