*{
    margin: 0;
    padding: 0;
}
nav{
    /* background-color: blanchedalmond; */
    margin-bottom:70px;
    height: 40px;
    border-bottom: 2px solid red ;
}
h1{
    text-align: center;
    margin-top: 20px;
}
.paket{
    display: flex;
    line-height: 23px;
}
.gambarMenu{
    background-color: bisque;
    width: 130px;
}
.detailMenu{
    width: 300px;
    margin-left:70px ;
}
hr{
    margin-bottom: 50px;

}
.pb{
    display: flex;
}
.pb button{
    margin-left: 50px;
    width: 40px;
}