@font-face {
	font-family: "Quicksand";
	src: url("/assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
}
body{
    font-family: "Quicksand";
}
* {
    margin: 0;
    padding: 0;
}
img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
nav {
  justify-content: center;  
  display: flex;
}
nav h1{
    margin-top: 7%;
    margin-left: 5%;
}
hr {
    border:  #ff9191 solid;
    margin-top: 3%;
}

