/* Default styles for all screens */
@font-face {
	font-family: "Quicksand";
	src: url("/assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Quicksand", Arial, sans-serif;
	background-color: #f0f0f0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

header {
	text-align: center;
	padding: 20px ;
}

header img {
	width: 100px;
}

header h1 {
	font-size: 24px;
	font-weight: 600;
	margin-top: 10px;
}

section.login-section {
	display: flex;
 	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#loginForm {
	text-align: center;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: 600;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: none;
	border-radius: 5px;
	background-color: #dbdbdb;
}

button[type="submit"] {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 600;
	width: 200px;
}

button[type="submit"]:hover {
	background-color: #0056b3;
}

footer {
	text-align: center;
	margin-top: 20px;
	padding: 10px 0;
	color: #333;
}

/* Media query for screens with a maximum width of 360px (mobile phones) */
/* @media (max-width: 360px) {
	.container {
		padding: 10px; 
	}

	header h1 {
		font-size: 20px; 
	}

	button[type="submit"] {
		width: 100%; 
	}

	input[type="text"],
	input[type="password"] {
		width: 100%;
	}
} */
