/* jika menggunakan link css import */

@font-face {
  font-family: "Quicksand";
  src: url("../assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-italic";
  src: url("../assets/font/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/font/Nunito-VariableFont_wght.ttf") format("truetype");
}

.navbar {
  width: max;
  font-family: "Quicksand";
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  padding: 10px 0px;
  justify-content: center;
  border-bottom: 2px solid #ff9191;
  /* position: fixed; */
  width: 360px;
  top: 0;
  background-color: #fbfbfb;
  /* background-color: white; */
}

.navbar img {
  width: 30px;
  height: 30px;
  margin: 0px 5px;
}

.container-content {
  display: flex;
  padding: 10px 0px;
  max-height: 40vh;
  overflow-x: auto;
  margin-bottom: 20px;
  /* background-color: blue; */
}

.container-content::-webkit-scrollbar {
  display: none;
}


textarea {
  margin: 0px 5px;
  padding: 10px 0px 10px 10px;
  border: none;
  border-radius: 5px;
  /* background-color: rgb(255, 228, 228); */
  background-color: rgb(254, 238, 238);
  color: #929292;
  text-decoration: none;
}

textarea:invalid {
  border: none; /* Menghilangkan garis merah */
}

textarea:focus {
  outline: 2px solid red;
  box-shadow: 0 0 5px red;
}

.main-order {
  max-width: 360px;
  margin: 0px auto;
  background-color: red;
  height: auto;
}

.pesanan {
  font-family: "Quicksand";
  font-size: 14px;
  width: max-content;
  padding: 5px;
  border: none;
  text-align: center;
  background-color: #c5c5c5;
  color: white;
  border-radius: 10px;
  margin: 10px 0px;
}

.menu-section {
  /* background-color: red; */
  width: 90%;
  margin: auto;
  /* height: 80vh; */
  background-color: blue;
}

table th {
  font-family: "Nunito";
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px 5px 0px 0px;
}

/* table th:nth-child(1) {
} */

.card-order {
  width: 170px;
  display: flex;
  /* background-color: blue; */
  padding: 5px;
  font-family: "Nunito";
}

table td:nth-child(2) {
  background-color: #ffd3d3;
  text-align: center;
  width: 40px;
}

table td:nth-child(3) {
  text-align: right;
  width: 110px;
}

.card-order-content {
  /* background-color: red; */
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-order p:nth-child(1) {
  font-size: 12px;
}

.order-pembayaran {
  font-family: "Nunito";
  text-align: center;
}
.order-pembayaran h3 {
  color: #ff9d21;
}

.catatan-container {
  background-color: #fbfbfb;
  padding: 5px;
  color: #929292;
  font-family: "Quicksand";
}

.order-catatan {
  display: flex;
  background-color: #fbfbfb;
}


.card-order p:nth-child(2) {
  font-size: 14px;
}

.card-order img {
  width: 70px;
  border-radius: 5px;
}

.produk-img {
  width: 130px;
  margin: 5px;
}

.line {
  border-color: #ff9d21;
}

.content p {
  margin: 5px 0px;
  font-family: "Nunito";
}
.content p:nth-child(1) {
  font-weight: 600;
  font-size: 14px;
  margin-top: 3px;
}

.content p:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
}

.content p:nth-child(3) {
  font-weight: 600;
  font-size: 12px;
  margin: 7px 0px;
}

.content2 {
  display: flex;
  justify-content: space-between;
}

.tambah {
  background: rgb(170, 170, 255);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0px 25px;
}

.container-bayar {
  width: 360px;
  padding: 10px;
  /* background-color: blue; */
}

.container-metode-pembayaran {
  padding: 10px;
  background-color: #f5f5f5;
  margin-top: 10px;
  color: #929292;
  font-family: "Quicksand";
  border-radius: 10px;
  margin: 10px 10px 30px 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    background-color: #5b3030;
  }

  .navbar {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .main-order {
    width: 100%;
  }
  .container-bayar {
    width: 100%;
  }

  .container-metode-pembayaran {
    width: 90%;
  }

  .catatan-container {
    width: 100%;
  }
  
}
