@font-face {
  font-family: "Quicksand";
  src: url("../assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 20px 0px;
  background-color: #fbfbfb;
  width: 360px;
}


img {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

footer p {
  text-align: center;
  font-size: medium;
  font-family: "Quicksand";
}

.container {
  width: 100%; /* Width 100% untuk mengisi lebar viewport pada kontainer utama */
  max-width: 768px; /* Batasan lebar maksimum untuk ukuran mobile */
  margin: 0 auto; /* Pusatkan kontainer pada layar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-full {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #ff9191;
  color: white;
  font-size: small;
}

